
*{margin:0;padding:0}

p h2{
	font-family:SolaimanLipi;
	font-size:22px;
	color:
}

body{

	margin:0 auto;
}

.container_full{
	width:100%
}
.container{
	width:960px;
	display:block;
	margin:0 auto;
}
.header_bg{
	border-bottom:1px solid #ddd;
}

#header{
	padding:15px 5px 0px 10px;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
}
#header img{
	width:250px;
	height:100px;
}
.nav_bg{
	border-bottom:1px solid #ddd;	
}
#nav{
	height:37px;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
}
#nav ul{
	background-color: #fff;
	list-style-type: none;
}
#nav ul li{
	float: left;
	border-right: 1px solid #ddd;
	z-index:999;
}
#nav ul li:last-child{
	border-right:none;
}


#nav ul li a{
	text-decoration: none;
	color:#635548;
	display: block;
	padding: 10px 20px;
	transition:0.2s all ease;
	-webkit-transition:all 0.10s ease;-moz-transition:all 0.10s ease;
}
#nav ul li a:hover{
	color:#000;
	background:#ddd;
}
#nav ul li{
	position: relative;
}
#nav ul li ul{
	position: absolute; left: -99999px;
}
#nav ul li:hover ul{
	left:0px;
}
#nav ul li ul{
	border-top: 1px solid #ddd;
}
#nav ul li ul li{
	border-top: 1px solid #ddd;
}
#nav ul li ul li{
	float: none;
	border-right:none;
	border-right: 1px solid #ddd;
	width:180px;
	position:relative;
}

#nav ul li ul li ul{
	position:absolute;
	top:-99999px;
}

#nav ul li ul li:hover ul{
	top:0px;
	left:180px;
}
#nav ul li ul li ul{
	border-left:1px solid #ddd;
}
#nav ul li ul li ul li:first-child{
	border-top:none;
}
/*---------------------------*/
.secant_header{
	background-color:#e1dde5;
}
.secant_header h1{
	padding-top:100px;
	margin-left:20px;
}
.secant_header img{
	float:right;
}
.secant_menu{
	background-color:#a2a2a3;
}

#nav2{
	background-color: #a2a2a3;
	height:37px;
	
}
#nav2 ul{
	background-color: #fff;
	list-style-type: none;
}
#nav2 ul li{
	float: left;
	
	z-index:999;
}
#nav2 ul li:last-child{
	border-right:none;
}


#nav2 ul li a{
	text-decoration: none;
	color:#000;
	display: block;
	padding: 10px 20px;
	transition:0.2s all ease;
	-webkit-transition:all 0.10s ease;-moz-transition:all 0.10s ease;
}
#nav2 ul li a:hover{
	color:#000;
	background-color:#fff;
}
#nav2 ul li{
	position: relative;
}
#nav2 ul li ul{
	position: absolute; left: -99999px;
}
#nav2 ul li:hover ul{
	left: 0px;
}


#nav2 ul li ul li{
	float: none;
	border-right:none;
	border-right: 1px solid #635548;
	width:180px;
	position:relative;
}

#nav2 ul li ul li ul{
	position:absolute;
	top:-99999px;
}

#nav2 ul li ul li:hover ul{
	top:0px;
	left:180px;
}
#nav ul li ul li ul{
	border-left:1px solid #635548;
}
#nav2 ul li ul li ul li:first-child{
	border-top:none;
}
----------------------------
.content_bg{
	background:#cdecfc;
}
#content_wrapper{
	background-color:#fff;
	padding:10px;
	overflow:hidden;
}

#content{
	width:620px;
	margin-right:20px;
	float:left;
}
#content h3{
	color:#6B710E;
	margin-top:5px;
	margin-bottom:10px;
}
#main_article_single{
	margin-bottom:25px;
	border-bottom:1px solid #6B710E;
	overflow:hidden;
}
#main_article_single h3:hover{
	color:#0b7def;
}
#main_article_single h3{
	color:#6B710E;
	font-family:SolaimanLipi;
	font-size:25px;
}
#main_article_single p{
	text-align:justify;
}
#imgp_wrap{
	margin-top:10px;
}
#imgp_wrap img{
	height:75px;
	width:75px;
	background:#fff;
	border:1px solid #ddd;
	padding:3px;
	
	float:left;
}
#imgp_wrap p{
	float:left;
	width:500px;
	margin-top:0;
	padding:10px;
}

#sidebar{
	width:296px;
	float:left;
	
}
#sidebar ul li{
	border-bottom:1px solid #D5A6A6;
	margin-bottom:3px;
	
}
#sidebar ul li:last-child{
	border-bottom:none;
}

#sidebar ul li a{
	text-decoration:none;
	color:#635548;
	padding:10px;
	display:block;
	transition:0.2s all ease;
	-webkit-transition:all 0.10s ease;-moz-transition:all 0.10s ease;
}
#sidebar ul li a:hover{
	color:#0b7def;
	
}

}
#sidebar h2{
	color:#6B710E;
	padding-left: 10px;
}
#main_sidebar{
	border-bottom:1px solid #6B710E;
	margin-bottom:25px;
	overflow:hidden;
	padding-bottom:10px;
}

#main_sidebar ul{
	padding:8px;
}
#main_sidebar h1{
	padding-left:20px;
	background-color:#ddd;
	font-size:20px;
}
#main_sidebar h2{
	margin-bottom:10px;
}



-------------------------



.container:{width:960px;}

.footer_bottom{
	background:#333;
}
.footer_part{background:#333; margin-top: 15px; padding-bottom:20px;}
.footer_part h3{color:#fff;font-family: 'Oswald', sans-serif; padding: 15px 15px; border-bottom:2px solid #dff3e1}
.footer_part ul{margin-left:5px;}
.footer_part ul li{margin-top:5px;margin-bottom:2px;list-style:none}
.footer_part a{color:#fff;text-decoration:none;}
.footer_part h3{color:#99ffcc}

.footer_left{width:300px;margin-right:15px;}

.footer_left ul li{float:left}
.footer_left ul li img{
	width: 40px;
	height: 40px;
	padding: 2px 10px;
}

.footer_middle{width:300px;margin-right:15px}
.footer_middle a{transition: all 1s ease;}
.footer_middle a:hover{color:#f70101;}


.footer_right{width:315px}
.footer_right ul li{float:left;}
.footer_right ul li img{
	width: 40px;
	height: 40px;
	padding: 2px 10px;
}



.fix{overflow:hidden;}
.aligncenter{display:block;margin:0 auto;}
.floatleft{float:left}
.floatright{float:right}
----------------------------

.footer_bottom{
	background:#635548;
}
#footer{
	background-color:#635548;
	padding:10px;
	text-align:center;
}
#footer p{
	color:#fff;
}


